/*Error Section*/

.error-section {
    position: relative;
    padding: 190px 0px 200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.error-section:before {
    position: absolute;
    content: '';
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    display: block;
    background-color: rgba(26, 26, 28, 0);
    display: none;
}

.error-section .thm-btn1 {
    color: #f28b1d;
}

.error-section .content {
    position: relative;
}

.error-section h1 {
    position: relative;
    display: block;
    font-size: 43px;
    line-height: 50px;
    color: #161616;
    font-weight: 700;
    margin-bottom: 15px;
    text-align: center;
    margin-top: 40px;
}

.error-section h2 {
    position: relative;
    display: block;
    font-size: 44px;
    line-height: 52px;
    color: #444;
    font-weight: 600;
    margin-bottom: 21px;
    text-align: center;
}

.error-section .text {
    position: relative;
    color: #000000;
    font-size: 18px;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 35px;
    text-align: center;
}

/*Error Section*/

h4.er_the_title {
    color: #fff;
    font-size: 30px;
    margin-bottom: 10px;
}

.error_text2 {
    margin-bottom: 20px;
    color: #fff;
}

.sr_title {
    font-size: 25px;
    margin-bottom: 20px;
    color: #000;
    font-weight: 600;
}

.search_text p {
    font-size: 17px;
    color: #161616;
    font-weight: 500;
    text-align: center;
}

.search_text {
    font-size: 17px;
    color: #414141;
    font-weight: 500;
    margin-bottom: 30px;
}

.search_page_btn a {
    margin-top: 20px;
    margin-bottom: 20px;
}

.404_text {
    margin-bottom: 25px;
}

.error-section .search-form button {
    position: relative;
    top: -60px;
    left: -27px;
    font-size: 14px;
    font-weight: 700;
    color: #4527a4;
    background: transparent;
    cursor: pointer;
    transition: all 500ms ease;
    line-height: 61px;
    float: right;
}

.search_title {
    font-size: 50px;
    color: #222;
    font-weight: 600;
    margin-bottom: 20px;
    text-align: center;
}

.search_area_df {
    padding: 120px 0px 200px;
}

/*===== Page Loader =====*/

.search_area_df {
    background-repeat: no-repeat;
}

.error_btn {
    position: relative;
    display: inline-block;
    overflow: hidden;
    font-size: 16px;
    line-height: 30px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    color: #fff !important;
    padding: 14px 32px;
    text-align: center;
    cursor: pointer;
    border-radius: 8px;
    z-index: 1;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transition: all 500ms ease;
    background: linear-gradient(90deg, var(--c1, #ff5700), var(--c2, #ffd000) 50%, var(--c1, #ff5700)) var(--x, 0)/ 200%;
}

.errobtn_area {
    text-align: center;
}

.error_btn:hover {
    background: #222;
    color: #fff;
    transition: all 500ms ease;
}

.error-image {
    text-align: center;
    width: 400px;
    margin: 0 auto;
}

.error-section .btn-box {
    text-align: center;
    margin: 0 auto;
}

.error-section .btn-box {
    position: relative;
    display: block;
    font-size: 14px;
    line-height: 30px;
    color: #ffffff;
    font-weight: 700;
    padding: 15px 40px;
    border: none;
    background: #ff6511;
    letter-spacing: 3px;
    border-radius: 30px;
    width: 300px;
    z-index: 1;
    transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

.error-section .btn-box a {
    color: #ffffff;
}

.commax {
    display: none;
}

.singcat .post-categories {
    display: inline-flex;
}

.singcat .post-categories li {
    margin-right: 5px;
}

.news-post-detail .lower-info .share-post li a i.fa:before {
    font-family: 'Font Awesome 5 Brands';
}

.news-post-detail .lower-info .share-post li {
    position: relative;
    font-size: 16px;
    display: inline-block;
    vertical-align: top;
    margin-left: 20px;
    background: #ff6000;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    text-align: center;
    /* line-height: 29px; */
}

.news-post-detail .lower-info .share-post li:hover a {
    color: #fff !important;
}

.news-post-detail .lower-info .share-post li:hover {
    color: #fff !important;
    background: #222;
}

.search_area_df .btn-box a {
    /* position: relative; */
    display: inline-block;
    font-size: 14px;
    line-height: 30px;
    color: #ffffff;
    font-weight: 700;
    padding: 15px 40px;
    border: none;
    background: #ff6511;
    letter-spacing: 3px;
    border-radius: 30px;
    width: 256px;
    margin-top: 30px;
    z-index: 1;
    transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

.error_btn1 .btn-box {
    text-align: center;
}

.main-footer li {
    line-height: 35px;
}