@media(max-width:1024px) and (min-width:768px) {
    .elementor-16 .elementor-element.elementor-element-6bd3a1e7 {
        width: 100%;
    }
    .elementor-16 .elementor-element.elementor-element-34acadcf {
        width: 100%;
    }
    .elementor-16 .elementor-element.elementor-element-20bf8876 {
        width: 100%;
    }
    .elementor-16 .elementor-element.elementor-element-2df30a9e {
        width: 100%;
    }
}